@import "function";
@import "variables";

.container {
    border: rem(1) solid $red;
    height: 100%;
 & .main_title {
     color: $green;
     text-decoration: underline;
     text-align: center;
} }

.subtitle {
    @extend .main_title;
    padding: 1rem;
    border: rem(1) solid $red;
}

section {
    display: flex;
    width: 90%;
    margin: rem(15) auto;
    justify-content: center;
}

@mixin article-card ($color, $border , $font){
    color: $color; 
    border: rem(1) solid $border;
    font-size: $font;
    padding: 2rem;
    text-align: center;
}

.article_blue {
    @include article-card($blue, $green, 1rem);
}

.article_red {
    @include article-card($red, $green, 1rem);
}

.article_big {
    @include article-card($green, $blue ,rem(24));
    width: 100%;
}

.squares {
    width: 90%;
    display: flex;
    justify-content: space-between;
    & div {
        width: rem(45);
        height: rem(45);
        border: rem(1) solid $red;
    }
} 


    @for $i from 1 through 20 {
         .squares > div:nth-child(#{$i}){
            background: darken(white, 5*$i);
            color: lighten(#000000, 5*$i);
            @if $i == 10 {
                background-color: blue;
                color: red;
            }
        }
    } 

    @for $var from 1 through 20 {
        .fs-#{$var}rem {
            @if $var == 1 {
                font-size: 1rem;
            }
            @if $var == 2 {
                 font-size: 2rem;
             }
            @if $var == 3 {
                 font-size: 3rem;
            }
                       
        }
    }


        

    
    

   
    
    
    

